@media (max-width: 1300px) {
  .about-content img.position-absolute {
    max-width: 900px;
  }
}
@media (max-width: 1250px) {
  .about-content .text-19 {
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .our-sponsors .row > div:first-child {
    padding-right: 45px;
  }
  .our-sponsors .row > div:last-child {
    padding-left: 45px;
  }
  .our-sponsors .article > div > div p:last-child {
    padding-right: 50px;
  }
  .contact-content
    .cp-form
    [class*='col-lg']:nth-child(odd)
    .input-dashed-border {
    margin-right: 15px;
  }
  .contact-content
    .cp-form
    [class*='col-lg']:nth-child(even)
    .input-dashed-border {
    margin-left: 15px;
  }
  .product-review .product-details ul li span:first-child {
    display: inline-block;
    margin-right: 5px;
    min-width: 110px;
    text-align: right;
  }
  .about-content img.position-absolute {
    max-width: 800px;
  }
}
@media (max-width: 1199.98px) {
  .text-50 {
    font-size: 43px;
    line-height: 50px;
  }
  .discipline-banner .border-bottom-title::after {
    width: 140%;
  }
  .discipline-content {
    padding-top: 30px;
  }
  .home-last .section-title h2 {
    font-size: 40px;
  }
  .feature-story-content .dashed-bordered-image {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
  .product-review .product-details {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .product-review .product-details ul li span:first-child {
    margin-bottom: -10px;
  }
  footer .footer-bottom-image {
    background-size: 100% 100%;
  }
}
@media (min-width: 1151px) {
  .about-content .align-items-center {
    align-items: flex-start !important;
  }
}
@media (max-width: 1150px) {
  .about-banner {
    margin-bottom: 0px;
  }
  .about-content .text-24 {
    margin-left: 0px;
    margin-top: 0;
  }
  .about-content .text-19 {
    max-width: 100%;
  }
  .about-content img.position-absolute {
    display: none;
  }
}
@media (min-width: 992px) {
  .article.article-big > div > p {
    max-width: 270px;
    margin-left: 0;
  }
  .dashed-border::after {
    position: absolute;
    width: 1px;
    height: 100%;
    content: ' ';
    background: url('../images/icons/line.png') no-repeat scroll center
      center/100% 100%;
    right: 0;
    top: 0;
  }
  .owl-carousel .owl-item::after {
    position: absolute;
    width: 1px;
    height: 100%;
    content: ' ';
    background: url('../images/icons/line.png') no-repeat scroll center
      center/100% 100%;
    right: -35px;
    top: 0;
  }
  .the-latest .container > .row > div:first-child {
    padding-right: 42px;
  }
  .the-latest .container > .row > div:last-child > .row {
    padding-left: 30px;
  }
  .the-latest
    .container
    > .row
    > div:last-child
    > .row
    > [class*='col']:first-child {
    padding-right: 35px;
  }
  .the-latest
    .container
    > .row
    > div:last-child
    > .row
    > [class*='col']:last-child {
    padding-left: 35px;
  }
  .our-sponsors .row > div:first-child {
    padding-right: 30px;
  }
  .our-sponsors .row > div:last-child {
    padding-left: 30px;
  }
  .discipline-banner.fte-banner .border-bottom-title {
    padding-left: 50px;
  }
  .discipline-banner.fte-banner .border-bottom-title::after {
    width: calc(100% - 100px);
    left: 50px;
  }
  .contact-content .contact-partner .titles {
    transform: translateX(58px);
  }
}
@media (max-width: 991.98px) {
  .text-40 {
    font-size: 30px;
    line-height: 1;
  }
  .text-50 {
    font-size: 38px;
    line-height: 45px;
  }
  .mb-100 {
    margin-bottom: 80px;
  }
  .article.article-big {
    margin-bottom: 0;
  }
  .dashed-border-hr {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .dashed-border-hr::after {
    position: absolute;
    width: calc(100% - 1.5rem);
    height: 1px;
    content: ' ';
    background: url('../images/icons/line-hr.png') no-repeat scroll center
      center/100% 100%;
    left: 0.7rem;
    bottom: 0;
  }
  .dashed-border-hr .article {
    margin-bottom: 0;
  }
  .sidebar-wrapper {
    position: fixed;
    background-color: rgba(254, 80, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .sidebar-wrapper .sidebar {
    background-color: #fff;
    padding: 15px 20px;
    max-width: 350px !important;
    height: 100%;
    overflow: auto;
  }
  .common-block > p:first-child {
    font-size: 19px;
  }
  .common-block ul {
    font-size: 17px;
    line-height: 26px;
  }
  .common-block a.text-red {
    font-size: 15px;
  }
  header {
    border-bottom: 1px solid #009739;
  }
  header .header-top {
    padding: 17px 0;
  }
  .events {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .discipline-banner .border-bottom-title::after {
    height: 15px;
    width: 100%;
  }
  .discipline-banner h2.text-75 {
    font-size: 40px;
  }
  .discipline-banner h2.text-75 img {
    max-width: 35px;
  }
  .discipline-banner::before,
  .discipline-banner::after {
    background-image: url('../images/icons/line-red-hr-mobile.png');
  }
  .discipline-content {
    padding-top: 0;
  }
  .comming-soon .left {
    display: none;
  }
  .comming-soon .right {
    width: 100%;
    float: none;
  }
  .contact-content .cp-form {
    margin-top: 40px;
  }
  .contact-content .border-bottom-title h3 {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .contact-content .contact-partner .titles {
    max-width: 650px;
    margin-top: 25px;
  }
  .contact-content .contact-partner .circle-image img {
    transform: translateX(-55px);
  }
  .home-last {
    margin-bottom: 100px;
  }
  .home-last .section-title {
    position: relative;
  }
  .home-last .section-title h2 {
    font-size: 38px;
  }
  .home-last .section-title br {
    display: none;
  }
  .feature-story-content {
    margin-bottom: 120px;
  }
  .video-content a.position-absolute {
    width: 130px;
    height: 130px;
    line-height: 130px;
  }
  .about-banner {
    padding-bottom: 100px;
  }
  .about-banner .about-dashed-border {
    padding: 20px 18px;
  }
  .about-banner .about-dashed-border > div p:last-child {
    font-size: 28px;
  }
  .about-content {
    padding: 70px 0;
  }
  .our-team {
    margin-top: 40px;
    margin-bottom: 150px;
  }
  .our-team h3.text-75 {
    font-size: 50px;
  }
  .our-team h4.text-50 {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .article.article-big > div > div {
    max-width: 254px;
  }
  .article.article-big > div > p {
    margin-left: 50px;
  }
  .sidebar-wrapper .sidebar {
    max-width: 300px !important;
  }
  .our-sponsors .article > div > div:last-child {
    margin-left: 40px;
    flex: 0 0 165px;
  }
  .about-content img.position-absolute + img {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .text-18 {
    font-size: 16px;
  }
  .text-19 {
    font-size: 17px;
  }
  .text-24 {
    font-size: 19px;
  }
  .text-45 {
    font-size: 38px;
  }
  .text-50 {
    font-size: 33px;
    line-height: 1.19;
  }
  .common-title {
    font-size: 25px;
  }
  .common-para {
    font-size: 16px;
    line-height: 23px;
  }
  .common-block > p:first-child {
    font-size: 18px;
  }
  .common-block ul {
    font-size: 16px;
    line-height: 24px;
  }
  .hunting-apparel {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .hunting-apparel .container > a.text-red {
    transform: translateY(-32px);
    z-index: 3;
    position: relative;
  }
  .hunting-apparel .container > a.text-red i {
    font-size: 15px;
    margin-left: 5px;
  }
  .our-sponsors {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .fishing .container > a.text-red {
    transform: translateY(-32px);
    z-index: 3;
    position: relative;
  }
  .fishing .container > a.text-red i {
    font-size: 15px;
    margin-left: 5px;
  }
  .events .container > a.text-red {
    transform: translateY(-32px);
    z-index: 3;
    position: relative;
  }
  .events .container > a.text-red i {
    font-size: 15px;
    margin-left: 5px;
  }
  .contact-content .border-bottom-title h3 {
    font-size: 30px;
  }
  .contact-content .contact-partner .titles {
    max-width: 480px;
  }
  .contact-content .contact-partner .circle-image img {
    max-width: 45px;
    transform: translateX(-34px);
  }
  .video-content a.position-absolute {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
  .video-content a.position-absolute i {
    margin-top: 0;
    margin-left: 4px;
  }
  .about-content .about-for-mobile {
    align-items: center;
  }
  .about-content .about-for-mobile > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about-content .about-for-mobile > p {
    padding-left: 12.5px;
  }
  .about-content .about-for-mobile > img {
    padding-right: 12.5px;
  }
  .our-team .t-member-1 img {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .our-team {
    font-size: 16px;
    line-height: 1.3;
  }
  .our-team h3.text-75 {
    font-size: 40px;
  }
  .our-team h4.text-50 {
    font-size: 28px;
    margin-top: 7px;
  }
  footer .footer-bottom-image {
    background-image: url('../images/footer/footer-bottom-mobile.jpg');
    background-size: 100% 100%;
  }
  .discipline-banner {
    margin-top: 0;
  }
}
@media (min-width: 576px) {
  footer .footer-bottom nav ul li {
    margin-left: 55px;
  }
}
@media (max-width: 575.98px) {
  p {
    font-size: 14px;
    line-height: 23px;
  }
  .text-15 {
    font-size: 14px;
  }
  .text-19 {
    font-size: 16px;
  }
  .text-25 {
    font-size: 17px;
    line-height: 26px;
  }
  .text-45 {
    font-size: 32px;
  }
  .text-50 {
    font-size: 28px;
    letter-spacing: 1px;
  }
  .border-bottom-title.section-title h2 {
    font-size: 35px;
  }
  .border-bottom-title.section-title h2 img {
    max-width: 20px;
  }
  .article a.text-green {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .input-dashed-border {
    padding: 7px 14px;
    padding-top: 9px;
  }
  header > div:last-child > div {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  header > div:last-child > div nav ul:first-child {
    margin-top: 38px;
  }
  header > div:last-child > div .social-icons {
    font-size: 22px;
  }
  header > div:last-child > div .social-icons a {
    margin-left: 16px;
    margin-right: 16px;
  }
  header > div:last-child.active > div > i {
    left: auto;
    right: 15px;
  }
  .overlay-article .position-relative .position-absolute {
    left: 25px;
  }

  .discipline-banner {
    background-image: url('../images/discipline/banner-mobile.jpg');
  }
  .discipline-banner h2.text-75 {
    font-size: 34px;
  }
  .discipline-banner h2.text-75 img {
    max-width: 22px;
  }
  .discipline-content .article {
    padding-bottom: 22px;
  }
  .comming-soon .right .border-bottom-title h2 {
    font-size: 50px;
    letter-spacing: 1.5px;
  }
  .comming-soon .right .border-bottom-title h2 img {
    max-width: 25px;
  }
  .comming-soon .right > a:first-child {
    margin-left: 0;
  }
  .comming-soon .right > p.text-white.text-italic {
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .comming-soon .input-dashed-border {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
  }
  .comming-soon .social-icons {
    margin-top: 55px;
  }
  .contact-content {
    margin-bottom: 50px;
  }
  .contact-content .border-bottom-title::after {
    height: 10px;
    left: 0;
  }
  .contact-content .contact-partner .circle-image img {
    transform: none;
  }
  .about-banner {
    margin-top: 20px;
    background-image: url('../images/about/banner-mobile.jpg')!important;
    padding-bottom: 70px;
  }
  .about-banner .about-dashed-border > div {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
  .about-content .container {
    background-image: url('../images/about/3.png');
    background-size: 100% auto;
    background-position: 0 45%;
  }
  .about-content .about-for-mobile > p {
    padding-left: 8px;
  }
  .about-content .about-for-mobile > img {
    padding-right: 8px;
  }
  footer {
    padding-top: 130px;
  }
  footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .subscribe-form {
    margin-bottom: 100px;
  }
  footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer .footer-bottom nav ul li {
    line-height: 29px;
  }
  footer .footer-bottom .social-icons {
    max-width: 105px;
    flex-wrap: wrap;
  }
  footer .footer-bottom .social-icons a {
    margin-right: 0;
    font-size: 30px;
    flex: 0 0 45px;
    text-align: center;
  }
  footer .footer-bottom .social-icons a:first-child,
  footer .footer-bottom .social-icons a:nth-child(2) {
    margin-bottom: 22px;
  }
  footer .footer-bottom .social-icons a:nth-child(2) {
    margin-left: 15px;
  }
  footer .footer-bottom .social-icons a:nth-child(4) {
    margin-left: 15px;
  }
}
@media (max-width: 479.98px) {
  .text-45 {
    font-size: 28px;
  }
  .border-bottom-title.section-title h2 {
    font-size: 28px;
  }
  header > div:last-child a.logo {
    max-width: 150px;
  }
  .comming-soon .right .border-bottom-title h2 {
    font-size: 40px;
  }
  .comming-soon .right > p.text-white.text-italic {
    font-size: 17px;
  }
  .contact-content .border-bottom-title h3 {
    font-size: 23px;
    line-height: 1.1;
  }
  .about-banner .circle-text {
    width: 300px;
    height: 300px;
  }
  .about-banner .circle-text p {
    font-size: 35px;
    line-height: 50px;
  }
  .about-content .text-19 {
    font-size: 15px;
    line-height: 1.5;
  }
  .about-content .about-for-mobile p.text-24 {
    font-size: 19px;
    line-height: 1.25;
  }
}
@media (max-width: 400px) {
  .about-banner .about-dashed-border {
    background-image: url('../images/about/border-mobile-bg.png');
  }
  .our-team .team-member > div {
    padding: 10px 10px 18px;
    width: calc(100% - 50px);
    left: 25px;
  }
}
@media (max-width: 383.98px) {
  .overlay-article .position-relative .position-absolute {
    left: 18px;
  }
  .comming-soon .right .border-bottom-title h2 {
    font-size: 35px;
  }
  .contact-content .border-bottom-title h3 {
    font-size: 22px;
  }
  .about-content .about-for-mobile p.text-24 {
    font-size: 16px;
  }
  footer .subscribe-form h3 {
    font-size: 18px;
  }
}
